<head>
<!--
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="{{ "/assets/bootstrap/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
 -->
 	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<title>BC Developers' Exchange [BETA]</title>
	<meta name="description"
	content="Enhancing collaboration between Industry, Broader Public Sector, and Government, to allow for the sharing of digital resources and knowledge, and to help stimulate innovation and technology growth in BC.">
	<meta name="viewport" content="width=device-width">
	<!--
		Vendor Stylesheets
	-->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
	<!-- <link rel="stylesheet" href="/assets/css/vendor.css"> -->

	<!--
		site-wide less OR css
	-->
	<link rel="stylesheet/less" type="text/css" href="/assets/less/app.less">
	<!-- <link rel="stylesheet/less" type="text/css" href="/assets/css/app.css"> -->
	<!--
		custom styles
	-->
	<link rel="stylesheet" href="/assets/css/custom.css">
	<link rel="stylesheet" href="/assets/css/shortcodes.css">
	<link rel="stylesheet" href="/assets/css/shortcodes_responsive.css">
	<link rel="stylesheet" href="/assets/css/style.css">

	<!--
		fonts
	-->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-58646145-1', 'auto');
	ga('set', 'anonymizeIp', true);
	//ga('send', 'pageview');
	</script>
	<script language="javascript" type="text/javascript">
		function resizeIframe(obj) {
			console.log ('resizing');
			obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
		}
	</script>
</head>



